@page "/signup"
@layout LoginLayout
@inject SweetAlertService Swal

<div class="d-flex justify-content-center align-items-center vh-100 bg-primary">
    <div style="width:400px; height:560px" class="border border-dark p-5 rounded bg-white">
        <EditForm Model="admin" OnValidSubmit="AdminSignup">
            <DataAnnotationsValidator/>

            <h3 class="text-center">Create Account</h3>

            <div class="mb-2">
                <label for="lastName">First name</label>
                <InputText class="form-control" type="text" @bind-Value="admin.FirstName"/>
                <ValidationMessage For="@(() => admin.FirstName)"/>
            </div>

            <div class="mb-2">
                <label for="firstName">Last name</label>
                <InputText class="form-control" type="text" @bind-Value="admin.LastName"/>
                <ValidationMessage For="@(() => admin.LastName)"/>
            </div>

            <div class="mb-2">
                <label for="firstName">Goverment ID</label>
                <InputText class="form-control" type="text" @bind-Value="admin.GovernmentId"/>
                <ValidationMessage For="@(() => admin.GovernmentId)"/>
            </div>

            <div class="mb-2">
                <label for="username">Username</label>
                <InputText class="form-control" type="text" @bind-Value="admin.Username" />
                <ValidationMessage For="@(() => admin.Username)" />
            </div>

            <div class="mb-5">
                <label for="password">Password</label>
                <InputText class="form-control" type="password" @bind-Value="admin.Password" />
                <ValidationMessage For="@(() => admin.Password)" />
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Create account</button>
            </div>

            <p class="text-end mt-1">
                Already signup? <a class="ms-2 text-decoration-none" @onclick="NavigateToSignIn">Login</a>
            </p>
        </EditForm>
    </div>
</div>