@page "/impoundVehicle"
@attribute [Authorize(Roles = "SuperAdmin, Admin")]

<h2>Impounded Vehicles</h2>
<hr />

<div class="form-group row mb-3">
    <label class=" col-md-12">Search</label>
    <div class="col-md-4">
        <input class="form-control" />
    </div>
    
</div>
<table class="table table-hover mb-3">
    <thead>
        <tr>
            <th>No.</th>
            <th>TCT No.</th>
            <th>Plate No.</th>
            <th>Date Impounded</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in vehicleList)
        {
            <tr>
                <td>@(vehicleList.IndexOf(vehicle) + 1)</td>
                <td>@vehicle.TctNo</td>
                <td>@vehicle.PlateNo</td>
                <td>@vehicle.DateImpounded</td>
                <td>@vehicle.Status</td>
                <td>
                    <a class="btn btn-primary btn-sm" @onclick="(() => ViewVehicle(vehicle))"><i class="oi oi-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (VehiclePopup)
{
    <div class="modal" tabindex="-1" style="display:block">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vehicle Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=VehicleCloseDialog></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-bold">License Number</label>
                            <text class="form-control w-auto">@Vehicle.LicenseNo</text>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-bold">Tct Number</label>
                            <text class="form-control w-auto">@Vehicle.TctNo</text>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-bold">Date Impounded</label>
                            <text class="form-control w-auto">@Vehicle.DateImpounded</text>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-bold">Make</label>
                            <text class="form-control w-auto">@Vehicle.Make</text>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-bold">Model</label>
                            <text class="form-control w-auto">@Vehicle.Model</text>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label fw-bold">Color</label>
                            <text class="form-control w-auto">@Vehicle.Color</text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}