@page "/issuedTicket"
@inject NavigationManager NavigationManager
@inject HttpClient httpClient
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using LokataAdministrative2.Models;


<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>
<h2>Vehicle Issued Ticket</h2>
<hr />
<h4>Issued Ticket List</h4>
<p style="color:red">======== NOTE: SAMPLE ONLY ===========</p>
&nbsp;
<div class="form-group row">
    <label class="col-md-12">Search</label>
    <div class="col-md-4">
        <input class="form-control" /> <!-- bind="*"-->
    </div>   
</div>

 &nbsp;

<div class="form-group">
    <button class="btn btn-primary">Search</button> <!--onclick="AccountSearch"-->
    <!-- <ValidationMessage For="*" /> -->
</div>
 
&nbsp;

<table class="table table-bordered">
    <thead>
        <tr>
            <th>TCT Number</th>
            <th>License Number</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>License Type</th>
            <th>Officer</th>
            <th>Address</th>
            <th>Vehicle Description</th>
            <th>Place Apprehended</th>
            <th>Violations</th>
        </tr>
    </thead>
    <tbody>
        @if (citationDtos != null)
        {
            @foreach (var item in citationDtos)
            {
                <tr>
                    <td>@item.TctNo</td>
                    <td>@item.LicesnseNo</td>
                    <td>@item.LastName</td>
                    <td>@item.FirstName</td>
                    <td>@item.MiddleName</td>
                    <td>@item.LicenseType</td>
                    <td>@item.Officer </td>
                    <td>@item.Address</td>
                    <td>@item.VehicleDescription</td>
                    <td>@item.PlaceApprehended</td>
                    <td>@item.Violations</td>

                </tr>
            }
        }
        else
        {
            <p>No Todo Items found.</p>
        }
        
            
        
    </tbody>
</table>


<button class="btn btn-primary" @onclick="TicketIssuePage">Record Ticket</button>

&nbsp;
<p style="color:red">======== NOTE: SAMPLE ONLY ===========</p>
<hr />
&nbsp;
&nbsp;&nbsp;&nbsp;

<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>


@code {


    private void TicketIssuePage()
    {
        NavigationManager.NavigateTo("/issuedTicketPage");
    }

    private CitationDTO[]? citationDtos;

    protected override async Task OnInitializedAsync() =>
        citationDtos = await Http.GetFromJsonAsync<CitationDTO[]>("https://www.lokatamanagement.com/api/Citation");
}
