@page "/approvedaccounts"
@attribute [Authorize(Roles = "SuperAdmin")]

<h3>Approved Accounts</h3>

<SearchBar Items="Accounts" OnSearch="UpdateFilteredApproved" />
<table class="table table-hover mb-3">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var req in FilteredAccounts)
        {
            <tr>
                <td>@(Accounts.IndexOf(req) + 1)</td>
                <td>@req.FirstName @req.LastName</td>
                <td>@req.DateCreated</td>
                <td>
                    <a class="btn btn-primary btn-sm" @onclick="(() => ViewAccount(req))"><i class="oi oi-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (AccountPopup)
{
    <div class="modal" tabindex="-1" style="display:block">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Account Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=AccountCloseDialog></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="First Name" Value="@Account.FirstName" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Last Name" Value="@Account.LastName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Government Id" Value="@Account.GovernmentId" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Username" Value="@Account.Username" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Password" Value="@Account.Password" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}