@page "/impoundVehicle"
@attribute [Authorize(Roles = "SuperAdmin, Admin")]
@inject SweetAlertService Swal

<h2>Impounded Vehicles</h2>
<hr />

<SearchBar Items="vehicleList" OnSearch="UpdateFilteredVehicle"></SearchBar>
<table class="table table-hover mb-3">
    <thead>
        <tr>
            <th>No.</th>
            <th>TCT No.</th>
            <th>Plate No.</th>
            <th>Date Impounded</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in filteredVehicles)
        {
            <tr>
                <td>@(filteredVehicles.IndexOf(vehicle) + 1)</td>
                <td>@vehicle.TctNo</td>
                <td>@vehicle.PlateNo</td>
                <td>@vehicle.DateImpounded</td>
                @if(vehicle.Status == "Unsettled")
                {
                    <td><span class="badge text-danger">@vehicle.Status</span></td>
                }
                else
                {
                    <td><span class="badge text-success">@vehicle.Status</span></td>
                }
                <td>
                    <a class="btn btn-primary btn-sm" @onclick="(() => ViewVehicle(vehicle))"><i class="oi oi-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (VehiclePopup)
{
    <div class="modal" tabindex="-1" style="display:block">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vehicle Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=VehicleCloseDialog></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="License Number" Value="@Vehicle.LicenseNo" />
                        </div>

                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Tct Number" Value="@Vehicle.TctNo" />
                        </div>

                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Date Impounded" Value="@Vehicle.DateImpounded" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Make" Value="@Vehicle.Make" />
                        </div>

                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Model" Value="@Vehicle.Model" />
                        </div>

                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Color" Value="@Vehicle.Color" />
                        </div>
                    </div>

                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            @if (Vehicle.Status == "Unsettled")
                            {
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label fw-bold">Impounding Area</label>
                                        <InputSelect ValueExpression="@(() => ImpoundingAreaSelected)"
                                                     Value="ImpoundingAreaSelected" class="form-select" ValueChanged="@((string value) => ImpoundingAreaOnValueChanged(value))">
                                            @foreach (var item in impoundingAreas)
                                            {
                                                <option value="@item.ImpoundingArea">@item.ImpoundingArea</option>
                                            }
                                        </InputSelect>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label class="form-label fw-bold text-white">Impounding Area</label>
                                        <button type="button" class="btn btn-success" @onclick=@(async () => await UpdateImpoundedArea())>Update Area</button>
                                    </div>
                                </div>
                            }
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin">
                        <Authorized>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <TextLabelComponent Label="Impounded Area" Value="@Vehicle.Location!.ImpoundingArea" Style="width:300px"/>
                                </div>
                            </div>
                        </Authorized>
                    </AuthorizeView>

                </div>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <div class="modal-footer">
                            @if (Vehicle.Status == "Unsettled")
                            {
                                <button type="button" class="btn btn-success" @onclick=@(async () => await ClaimedVehicle())>Claimed</button>
                            }
                        </div>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
}