@page "/issuedTicketPage"
@page "/issuedTicketPage/{issuedTicketId}"
@attribute [Authorize(Roles = "Admin")]
@inject SweetAlertService Swal

<EditForm Model="citation" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
         
    <div class="row mb-3">
        <div class="col-md-7">
            <label class="form-label">TCT No.</label>
            <InputText class="form-control w-auto" @bind-Value="citation.TctNo" required></InputText>
            <ValidationMessage For="@(() => citation.TctNo)"></ValidationMessage>
        </div>

        <div class="col-md-5">
            <label class="form-label">Date Record</label>
            <InputText type="date" class="form-control" @bind-Value="citation.DateRecord" required></InputText>
            <ValidationMessage For="@(() => citation.DateRecord)"></ValidationMessage>
        </div>
    </div>

    <h4>I. Driver's Name</h4>
    <div class="container mb-3">
        <div class="row">
            <div class="col-md-4">
                <label for="lastNameValidation" class="form-label">Last name</label>
                <InputText id="lastNameValidation" class="form-control" @bind-Value="citation.LastName" required></InputText>
                <ValidationMessage For="@(() => citation.LastName)"></ValidationMessage>
            </div>

            <div class="col-md-4">
                <label class="form-label">First name</label>
                <InputText class="form-control" @bind-Value="citation.FirstName" required></InputText>
                <ValidationMessage For="@(() => citation.FirstName)"></ValidationMessage>
            </div>

            <div class="col-md-4">
                <label class="form-label">Middle name</label>
                <InputText class="form-control" @bind-Value="citation.MiddleName" required></InputText>
                <ValidationMessage For="@(() => citation.MiddleName)"></ValidationMessage>
            </div>
        </div>
    </div>

    <h4>Address</h4>
    <div class="container mb-3">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Province</label>
                <select class="form-select" @onchange="ProvinceClicked">
                    <option value="0">-- Select Province --</option>
                    @foreach (var item in provinces)
                    {
                        <option value="@item.Province">@item.Province</option>
                    }
                </select>
            </div>

            <div class="col-md-4">
                <label class="form-label">City</label>
                <select class="form-select" @onchange="CityClicked">
                    <option value="0">-- Select City --</option>
                    @foreach (var item in cities)
                    {
                        <option value="@item.City">@item.City</option>
                    }
                </select>
            </div>

            <div class="col-md-4">
                <label class="form-label">Barangay</label>
                <select class="form-select" @onchange="BarangayClicked">
                    <option value="">-- Select Barangay --</option>
                    @foreach (var item in barangays)
                    {
                        <option value="@item.Barangay">@item.Barangay</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <hr />

    <h4>II. License/Permit No.</h4>
    <div class="container mb-3">
        <div class="row">
            <div class="col-sm-4">
                <label class="form-label">License No.</label>
                <InputText class="form-control w-75" @bind-Value="citation.LicenseNo" required></InputText>
                <ValidationMessage For="@(() => citation.LicenseNo)"></ValidationMessage>
            </div>

            <div class="col-sm-4 mt-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="licenseType" id="Professional-License" value="Professional" @onchange="SelectedLicenseType">
                    <label class="form-check-label" for="Professional-License">Professional</label>
                </div>
            </div>

            <div class="col-sm mt-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="licenseType" id="Non-Professional-License" value="Non-Professional" @onchange="SelectedLicenseType">
                    <label class="form-check-label" for="Non-Professional-License">Non-Professional</label>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <h4>III. Motor Vehicle Description</h4>
    <div class="container mb-3">
        <div class="row">
            <div class="col">
                <label class="form-label">Plate No.</label>
                <InputText class="form-control" @bind-Value="vehicle.PlateNo" required></InputText>
                <ValidationMessage For="@(() => vehicle.PlateNo)"></ValidationMessage>
            </div>
            <div class="col">
                <label class="form-label">Color</label>
                <InputText class="form-control" @bind-Value="vehicle.Color" required></InputText>
                <ValidationMessage For="@(() => vehicle.Color)"></ValidationMessage>
            </div>
            <div class="col">
                <label class="form-label">Make</label>
                <InputText class="form-control" @bind-Value="vehicle.Make" required></InputText>
                <ValidationMessage For="@(() => vehicle.Make)"></ValidationMessage>
            </div>
            <div class="col">
                <label class="form-label">Model</label>
                <InputText class="form-control" @bind-Value="vehicle.Model" required></InputText>
                <ValidationMessage For="@(() => vehicle.Model)"></ValidationMessage>
            </div>
        </div>
    </div>

    <hr/>

    <h4>IV. Place of Apprehension</h4>
    <div class="container mb-3">
        <div class="row">
            <div class="col">
                <label class="form-label">Street</label>
                <InputText class="form-control" @bind-Value="placeApprehended.Street" required></InputText>
                <ValidationMessage For="@(() => placeApprehended.Street)"></ValidationMessage>
            </div>
            <div class="col">
                <label class="form-label">Barangay</label>
                <InputText class="form-control" @bind-Value="placeApprehended.Barangay" required></InputText>
                <ValidationMessage For="@(() => placeApprehended.Barangay)"></ValidationMessage>
            </div>
            <div class="col">
                <label class="form-label">Date</label>
                <InputText type="date" class="form-control" @bind-Value="placeApprehended.Date" required></InputText>
                <ValidationMessage For="@(() => placeApprehended.Date)"></ValidationMessage>
            </div>
            <div class="col">
                <label class="form-label">Time</label>
                <InputText type="time" class="form-control" @bind-Value="placeApprehended.Time" required></InputText>
                <ValidationMessage For="@(() => placeApprehended.Time)"></ValidationMessage>
            </div>
        </div>
    </div>

    <hr/>

    <h4>V. Violation(s)</h4>
    <div class="container mb-3">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Offense</th>
                    <th>Fine</th>
                </tr>
            </thead>
            <tbody>
                @if (userViolations != null)
                {
                    @foreach (var item in userViolations)
                    {
                        <tr>
                            <td>@(userViolations.IndexOf(item) + 1)</td>
                            <td>@item.Category</td>
                            <td>@item.Name</td>
                            <td>@item.Offense</td>
                            <td>@item.Fine</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <!-- Button trigger modal -->
        <button type="button" @onclick="ShowPopup" class="btn btn-primary"> Add Violation</button>
        @if (popup)
        {
            <div class="modal" tabindex="-1" style="display:block">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Violation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=CloseDialog></button>
                        </div>
                        <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" @onchange="ViolationCategoryClicked">
                                            <option value="0">-- Select Category --</option>
                                            @foreach (var item in categories)
                                            {
                                            <option value="@item.Category">@item.Category</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Name</label>
                                        <select class="form-select" @onchange="ViolationClicked">
                                            <option value="0">-- Select Name --</option>
                                            @foreach (var item in violations)
                                            {
                                            <option value="@item.Name">@item.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">Offense</label>
                                    <select class="form-select" @onchange="ViolationFeeClicked">
                                            <option value="">-- Select Offense --</option>
                                            @foreach (var item in violationFees)
                                            {
                                                <option value="1 + @item.FirstOffense">1st Offense: @item.FirstOffense</option>
                                                <option value="2 + @item.SecondOffense">2nd Offense: @item.SecondOffense</option>
                                                <option value="3 + @item.ThirdOffense">3rd Offense: @item.ThirdOffense</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick=CloseDialog>Discard Changes</button>
                            <button type="button" class="btn btn-success" @onclick=@(()=>SaveViolations())>Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />

    <h4>VI. Item(s) Confiscated</h4>
    <div class="container mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" @onchange="SelectedLicense" id="driverLicense">
                    <label class="form-check-label" for="driverLicense">
                        Driver's License
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" @onchange="SelectedVehicle" id="motorVehicle">
                    @if (PaymentSummaryPopup)
                    {
                        <div class="modal" tabindex="-1" style="display:block">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add Storage/Towing Rates</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=ClosePaymentSummary></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <label class="form-label">Storage Rate</label>
                                                <select class="form-select" @onchange="StorageRateClicked">
                                                    <option value="0">-- Select Vehicle Type --</option>
                                                    @foreach (var item in storages)
                                                    {
                                                        <option value="@item.Id">@item.VehicleType</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label class="form-label">Towing Rate</label>
                                                <select class="form-select" @onchange="TowingRateClicked">
                                                    <option value="0">-- Select Load of Vehicle --</option>
                                                    @foreach (var item in towings)
                                                    {
                                                        <option value="@item.Id">@item.VehicleType</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label class="form-label">Impounding Area</label>
                                                <select class="form-select" @onchange="ImpoundingAreaClicked">
                                                    <option value="">-- Select Impounded Area --</option>
                                                    @foreach (var item in impoundingAreas)
                                                    {
                                                        <option value="@item.Id">@item.ImpoundingArea</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick=ClosePaymentSummary>Discard Changes</button>
                                        <button type="button" class="btn btn-success" @onclick=@(()=>SavePaymentsummary())>Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <label class="form-check-label" for="motorVehicle">
                        Motor Vehicle
                    </label>

                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="flexCheckDefault1">Others</label>
                <input class="form-text" type="text" id="others" />
            </div>
        </div>
    </div>

    <hr/>
    <h4>VII. Apprehending Officer</h4>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-4">
                <label for="lastNameValidation" class="form-label">Last name</label>
                <InputText id="lastNameValidation" class="form-control" @bind-Value="officer.LastName" required DisplayName="Last Name"></InputText>
                <ValidationMessage For="@(() => officer.LastName)"></ValidationMessage>
            </div>

            <div class="col-md-4">
                <label class="form-label">First name</label>
                <InputText class="form-control" @bind-Value="officer.FirstName" required></InputText>
                <ValidationMessage For="@(() => officer.FirstName)"></ValidationMessage>
            </div>

            <div class="col-md-4">
                <label class="form-label">Middle name</label>
                <InputText class="form-control" @bind-Value="officer.MiddleName" required></InputText>
                <ValidationMessage For="@(() => officer.MiddleName)"></ValidationMessage>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Citation</button>
        <button @onclick="Cancel" class="btn btn-light">Cancel</button>
    </div>
</EditForm>