@page "/issuedTicket"
@attribute [Authorize(Roles = "SuperAdmin, Admin")]
@inject ICitationClient citationClient;
@inject SweetAlertService Swal;

<h2>Traffic Citation Tickets</h2>

<AuthorizeView Roles="Admin">
    <button class="btn btn-primary mb-3" @onclick="TicketIssuePage">Record Ticket</button>
</AuthorizeView>

@if(citationList is null)
{
    <p>Loading..</p>
}
else
{
    <div>
        <SearchBar Items="citationList" OnSearch="UpdateFilteredTicket"></SearchBar>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>TCT No.</th>
                    <th>License No.</th>
                    <th>Date Recorded</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (filteredTickets != null)
                {
                    @foreach (var item in filteredTickets)
                    {
                        <tr>
                            <td>@(filteredTickets.IndexOf(item) + 1)</td>
                            <td>@item.TctNo</td>
                            <td>@item.LicenseNo</td>
                            <td>@item.DateRecord</td>
                            @if (!item.IsSettled)
                            {
                                <td><span class="badge text-danger">Unsettled</span></td>
                            }
                            else
                            {
                                <td><span class="badge text-success">Settled</span></td>
                            }
                            <td>
                                <AuthorizeView Roles="Admin">
                                    <a class="btn btn-primary btn-sm" @onclick="(async () => await EditTicket(item))"><i class="oi oi-pencil"></i></a>
                                    <button type="button" class="btn btn-danger btn-sm ms-2" @onclick="(()=> DeleteCitation(item.Id!))">
                                        <i class="oi oi-trash"></i>
                                    </button>
                                </AuthorizeView>
                                <AuthorizeView Roles="SuperAdmin">
                                    <a class="btn btn-primary btn-sm" @onclick="(() => ViewTicket(item))"><i class="oi oi-eye"></i></a>
                                </AuthorizeView>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    //Modal for Admin Edit Ticket
    if (@Popup)
    {
        <EditForm Model="Citation">
            <div class="modal" tabindex="-1" style="display:block">
                <div class="modal-dialog-scrollable modal-lg modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Citation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=ClosePopup></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-md-7">
                                    <label class="form-label fw-bold">TCT No.</label>
                                    <InputText class="form-control" style="width:200px" @bind-Value="Citation!.TctNo" required></InputText>
                                    <ValidationMessage For="@(() => Citation!.TctNo)"></ValidationMessage>
                                </div>
                                <div class="col-md-5">
                                    <label class="form-label fw-bold">Date Record</label>
                                    <InputText type="date" class="form-control" @bind-Value="Citation.DateRecord" required></InputText>
                                    <ValidationMessage For="@(() => Citation.DateRecord)"></ValidationMessage>
                                </div>
                            </div>

                            <h4>I. Driver's Name</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">Last name</label>
                                        <InputText class="form-control" @bind-Value="Citation.LastName" DisplayName="Last Name" required></InputText>
                                        <ValidationMessage For="@(() => Citation.LastName)"></ValidationMessage>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">First name</label>
                                        <InputText class="form-control" @bind-Value="Citation.FirstName" DisplayName="First Name" required></InputText>
                                        <ValidationMessage For="@(() => Citation.FirstName)"></ValidationMessage>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">Middle name</label>
                                        <InputText class="form-control" @bind-Value="Citation.MiddleName" DisplayName="Middle Name" required></InputText>
                                        <ValidationMessage For="@(() => Citation.MiddleName)"></ValidationMessage>
                                    </div>
                                </div>
                            </div>

                            <h4>Address</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">Province</label>
                                        <InputSelect ValueExpression="@(() => ProvinceSelectedOption)"
                                                     Value="ProvinceSelectedOption" class="form-select" ValueChanged="@((string value) => ProvinceOnValueChanged(value))">
                                            @foreach (var item in Provinces)
                                            {
                                                <option value="@item.Province">@item.Province</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="col-md-4">
                                            <label class="form-label fw-bold">City</label>
                                        <InputSelect ValueExpression="@(() => CitySelectedOption)" 
                                                     Value="CitySelectedOption" class="form-select" ValueChanged="@((string value) => CityOnValueChanged(value))">
                                            <option value="0">-- Select City --</option>
                                            @foreach (var item in Cities)
                                            {
                                                <option value="@item.City">@item.City</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="col-md-4">
                                            <label class="form-label fw-bold">Barangay</label>
                                            <InputSelect ValueExpression="@(() => BarangaySelectedOption)" 
                                                         Value="BarangaySelectedOption" class="form-select" ValueChanged="@((string value) => BarangayOnValueChanged(value))">
                                                <option value="0">-- Select Barangay --</option>
                                                @foreach (var item in Barangays)
                                                {
                                                    <option value="@item.Barangay">@item.Barangay</option>
                                                }
                                        </InputSelect>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <h4>II. License/Permit No.</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="form-label fw-bold">License No.</label>
                                        <InputText class="form-control" @bind-Value="Citation.LicenseNo" DisplayName="License No" required></InputText>
                                        <ValidationMessage For="@(() => Citation.LicenseNo)"></ValidationMessage>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label fw-bold">License Type:</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="licenseType" id="Professional-License" 
                                                   value="Professional" checked="@SelectProfessional" @onchange="SelectedLicenseType">
                                            <label class="form-check-label fw-bold" for="Professional-License">Professional</label>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <label class="form-label fw-bold text-white">License Type:</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="licenseType" id="Non-Professional-License"
                                                    value="Non-Professional" checked="@SelectNonProfessional" @onchange="SelectedLicenseType">
                                            <label class="form-check-label fw-bold" for="Non-Professional-License">Non-Professional</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <h4>III. Motor Vehicle Description</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label fw-bold">Plate No.</label>
                                        <InputText class="form-control" @bind-Value="Citation.VehicleDescription!.PlateNo" required></InputText>
                                        <ValidationMessage For="@(() => Citation.VehicleDescription!.PlateNo)"></ValidationMessage>
                                    </div>
                                    <div class="col">
                                        <label class="form-label fw-bold">Color</label>
                                        <InputText class="form-control" @bind-Value="Citation.VehicleDescription!.Color" required></InputText>
                                        <ValidationMessage For="@(() => Citation.VehicleDescription!.Color)"></ValidationMessage>
                                    </div>
                                    <div class="col">
                                        <label class="form-label fw-bold">Make</label>
                                        <InputText class="form-control" @bind-Value="Citation.VehicleDescription!.Make" required></InputText>
                                        <ValidationMessage For="@(() => Citation.VehicleDescription!.Make)"></ValidationMessage>
                                    </div>
                                    <div class="col">
                                        <label class="form-label fw-bold">Model</label>
                                        <InputText class="form-control" @bind-Value="Citation.VehicleDescription!.Model" required></InputText>
                                        <ValidationMessage For="@(() => Citation.VehicleDescription!.Model)"></ValidationMessage>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h4>IV. Place of Apprehension</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label fw-bold">Street</label>
                                        <InputText class="form-control" @bind-Value="Citation.PlaceApprehended!.Street" required></InputText>
                                        <ValidationMessage For="@(() => Citation.PlaceApprehended!.Street)"></ValidationMessage>
                                    </div>
                                    <div class="col">
                                        <label class="form-label fw-bold">Barangay</label>
                                        <InputText class="form-control" @bind-Value="Citation.PlaceApprehended!.Barangay" required></InputText>
                                        <ValidationMessage For="@(() => Citation.PlaceApprehended!.Barangay)"></ValidationMessage>
                                    </div>
                                    <div class="col">
                                        <label class="form-label fw-bold">Date</label>
                                        <InputText type="date" class="form-control" @bind-Value="Citation.PlaceApprehended!.Date" required></InputText>
                                        <ValidationMessage For="@(() => Citation.PlaceApprehended!.Date)"></ValidationMessage>
                                    </div>
                                    <div class="col">
                                        <label class="form-label fw-bold">Time</label>
                                        <InputText type="time" class="form-control" @bind-Value="Citation.PlaceApprehended!.Time" required></InputText>
                                        <ValidationMessage For="@(() => Citation.PlaceApprehended!.Time)"></ValidationMessage>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h4>V. Violation(s)</h4>
                            <div class="container mb-3">
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Category</th>
                                            <th>Name</th>
                                            <th>Offense</th>
                                            <th>Fine</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Citation.Violations != null)
                                        {
                                            @foreach (var item in Citation.Violations)
                                            {
                                                <tr>
                                                    <td>@(Citation.Violations.IndexOf(item) + 1)</td>
                                                    <td>@item.Category</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Offense</td>
                                                    <td>@item.Fine</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <!-- Button trigger modal -->
                                @if(!Citation.IsSettled)
                                {
                                    <button type="button" @onclick="ShowViolationPopup" class="btn btn-primary"> Add Violation</button>
                                }
                                @if (ViolationPopup)
                                {
                                    <div class="modal" tabindex="-1" style="display:block">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Add Violation</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=ViolationCloseDialog></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">Category</label>
                                                            <select class="form-select" @onchange="ViolationCategoryClicked">
                                                                <option value="0">-- Select Category --</option>
                                                                @foreach (var item in Categories)
                                                                {
                                                                    <option value="@item.Category">@item.Category</option>
                                                                }
                                                            </select>
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">Name</label>
                                                            <select class="form-select" @onchange="ViolationClicked">
                                                                <option value="0">-- Select Name --</option>
                                                                @foreach (var item in Violations)
                                                                {
                                                                    <option value="@item.Name">@item.Name</option>
                                                                }
                                                            </select>
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">Offense</label>
                                                            <select class="form-select" @onchange="ViolationFeeClicked">
                                                                <option value="">-- Select Offense --</option>
                                                                @foreach (var item in ViolationFees)
                                                                {
                                                                    <option value="1 + @item.FirstOffense">1st Offense: @item.FirstOffense</option>
                                                                    <option value="2 + @item.SecondOffense">2nd Offense: @item.SecondOffense</option>
                                                                    <option value="3 + @item.ThirdOffense">3rd Offense: @item.ThirdOffense</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick=ViolationCloseDialog>Discard Changes</button>
                                                    <button type="button" class="btn btn-success" @onclick=@(()=>SaveViolations())>Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <hr/>
                            <h4>VI. Item(s) Confiscated</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" checked="@SelectLicense" @onchange="SelectedLicense" id="driverLicense">
                                            <label class="form-check-label fw-bold" for="driverLicense">Driver's License</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" checked="@SelectVehicle" @onchange="SelectedVehicle" id="motorVehicle">
                                            @if (PaymentSummaryPopup)
                                            {
                                                <div class="modal" tabindex="-1" style="display:block">
                                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Add Storage/Towing Rates</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=ClosePaymentSummary></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-4 mb-3">
                                                                        <label class="form-label">Storage Rate</label>
                                                                        <select class="form-select" @onchange="StorageRateClicked">
                                                                            <option value="0">-- Select Vehicle Type --</option>
                                                                            @foreach (var item in storages)
                                                                            {
                                                                                <option value="@item.Id">@item.VehicleType</option>
                                                                            }
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-md-4 mb-3">
                                                                        <label class="form-label">Towing Rate</label>
                                                                        <select class="form-select" @onchange="TowingRateClicked">
                                                                            <option value="0">-- Select Load of Vehicle --</option>
                                                                            @foreach (var item in towings)
                                                                            {
                                                                                <option value="@item.Id">@item.VehicleType</option>
                                                                            }
                                                                        </select>
                                                                    </div>

                                                                    <div class="col-md-4 mb-3">
                                                                        <label class="form-label">Impounding Area</label>
                                                                        <select class="form-select" @onchange="ImpoundingAreaClicked">
                                                                            <option value="">-- Select Impounded Area --</option>
                                                                            @foreach (var item in impoundingAreas)
                                                                            {
                                                                                <option value="@item.Id">@item.ImpoundingArea</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick=ClosePaymentSummary>Discard Changes</button>
                                                                <button type="button" class="btn btn-success" @onclick=@(()=>UpdatePaymentSummary())>Save changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <label class="form-check-label fw-bold" for="motorVehicle">Motor Vehicle</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h4>VII. Apprehending Officer</h4>
                            <div class="container mb-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">Last name</label>
                                        <InputText class="form-control" @bind-Value="Citation!.ApprehendingOfficer!.LastName" required></InputText>
                                        <ValidationMessage For="@(() => Citation!.ApprehendingOfficer!.LastName)"></ValidationMessage>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">First name</label>
                                        <InputText class="form-control" @bind-Value="Citation!.ApprehendingOfficer!.FirstName" required></InputText>
                                        <ValidationMessage For="@(() => Citation!.ApprehendingOfficer!.FirstName)"></ValidationMessage>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">Middle name</label>
                                        <InputText class="form-control" @bind-Value="Citation!.ApprehendingOfficer!.MiddleName" required></InputText>
                                        <ValidationMessage For="@(() => Citation!.ApprehendingOfficer!.MiddleName)"></ValidationMessage>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if(!Citation.IsSettled)
                        {
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" @onclick=@(async ()=> await UpdateChanges())>Update changes</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
    </EditForm>
    }

    //modal for SuperAdmin View Ticket
    if (@ViewCitationPopup)
    {
        <div class="modal" tabindex="-1" style="display:block">
                <div class="modal-dialog-scrollable modal-lg modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Citation Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=CloseViewCitationPopup></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-md-7">
                                    <TextLabelComponent Label="TCT No." Value="@Citation!.TctNo" Style="width:200px" />
                                </div>
                                <div class="col-md-5">
                                    <TextLabelComponent Label="Date Record" Value="@Citation!.DateRecord" />
                                </div>
                            </div>

                            <h4>I. Driver's Name</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <TextLabelComponent Label="Last name" Value="@Citation.LastName" />
                                    </div>
                                    <div class="col-md-4">
                                        <TextLabelComponent Label="First name" Value="@Citation.FirstName" />
                                    </div>
                                    <div class="col-md-4">
                                        <TextLabelComponent Label="Middle name" Value="@Citation.MiddleName" />
                                    </div>
                                </div>
                            </div>

                            <h4>Address</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <TextLabelComponent Label="Province" Value="@Citation.Address!.Province" />
                                    </div>
                                    <div class="col-md-4">
                                        <TextLabelComponent Label="City" Value="@Citation.Address.City" />
                                    </div>
                                    <div class="col-md-4">
                                    <TextLabelComponent Label="Barangay" Value="@Citation.Address.Barangay" />
                                    </div>
                                </div>
                            </div>

                            <hr/>
                            <h4>II. License/Permit No.</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                    <TextLabelComponent Label="License No." Value="@Citation.LicenseNo" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label fw-bold">License Type:</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" disabled type="radio" name="licenseType" id="Professional-License" 
                                                   value="Professional" checked="@SelectProfessional" @onchange="SelectedLicenseType">
                                                <label class="form-check-label fw-bold" for="Professional-License">Professional</label>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <label class="form-label fw-bold text-white">License Type:</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" disabled type="radio" name="licenseType" id="Non-Professional-License"
                                                    value="Non-Professional" checked="@SelectNonProfessional" @onchange="SelectedLicenseType">
                                            <label class="form-check-label fw-bold" for="Non-Professional-License">Non-Professional</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <h4>III. Motor Vehicle Description</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label fw-bold">Plate No.</label>
                                        <text class="form-control">@Citation.VehicleDescription!.PlateNo</text>
                                    </div>
                                    <div class="col">
                                        <label class="form-label fw-bold">Color</label>
                                        <text class="form-control">@Citation.VehicleDescription!.Color</text>
                                    </div>
                                    <div class="col">
                                        <label class="form-label fw-bold">Make</label>
                                    <text class="form-control">@Citation.VehicleDescription!.Make</text>
                                    </div>
                                    <div class="col">
                                        <label class="form-label fw-bold">Model</label>
                                    <text class="form-control">@Citation.VehicleDescription!.Model</text>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h4>IV. Place of Apprehension</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col">
                                        <TextLabelComponent Label="Street" Value="@Citation.PlaceApprehended!.Street" />
                                    </div>
                                    <div class="col">
                                        <TextLabelComponent Label="Barangay" Value="@Citation.PlaceApprehended!.Barangay" />
                                    </div>
                                    <div class="col">
                                        <TextLabelComponent Label="Date" Value="@Citation.PlaceApprehended!.Date" />
                                    </div>
                                    <div class="col">
                                        <TextLabelComponent Label="Time" Value="@Citation.PlaceApprehended!.Time" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h4>V. Violation(s)</h4>
                            <div class="container mb-4">
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Category</th>
                                            <th>Name</th>
                                            <th>Offense</th>
                                            <th>Fine</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Citation.Violations != null)
                                        {
                                            @foreach (var item in Citation.Violations)
                                            {
                                                <tr>
                                                    <td>@(Citation.Violations.IndexOf(item) + 1)</td>
                                                    <td>@item.Category</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Offense</td>
                                                    <td>@item.Fine</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <h4>VI. Item(s) Confiscated</h4>
                            <div class="container mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" disabled type="checkbox" checked="@SelectLicense" @onchange="SelectedLicense" id="driverLicense">
                                            <label class="form-check-label fw-bold" for="driverLicense">Driver's License</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" disabled type="checkbox" checked="@SelectVehicle" @onchange="SelectedVehicle" id="motorVehicle">
                                            <label class="form-check-label fw-bold" for="motorVehicle">Motor Vehicle</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <h4>VII. Apprehending Officer</h4>
                            <div class="container mb-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <TextLabelComponent Label="Last name" Value="@Citation!.ApprehendingOfficer!.LastName" />
                                    </div>
                                    <div class="col-md-4">
                                        <TextLabelComponent Label="First name" Value="@Citation.ApprehendingOfficer.FirstName" />
                                    </div>
                                    <div class="col-md-4">
                                        <TextLabelComponent Label="Middle name" Value="@Citation.ApprehendingOfficer.MiddleName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    }
}