@page "/userrequirements"
@attribute [Authorize(Roles = "Admin")]
@inject SweetAlertService Swal

<h2 class="mb-5">Submitted Requirements</h2>

<table class="table table-hover mb-3">
    <thead>
        <tr>
            <th>No.</th>
            <th>Email</th>
            <th>Date Submitted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var req in Requirements)
        {
            <tr>
                <td>@(Requirements.IndexOf(req) + 1)</td>
                <td>@req.Email</td>
                <td>@req.DateSubmitted</td>
                <td>
                    <a class="btn btn-primary btn-sm" @onclick="(() => ViewRequirement(req))"><i class="oi oi-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if(ReqPopup) 
{
    <div class="modal" tabindex="-1" style="display:block">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Requirement Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=ReqCloseDialog></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="License No." Value="@Requirement.LicenseNo" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Citation No." Value="@Requirement.TctNo" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <TextLabelComponent Label="Email" Value="@Requirement.Email" />
                        </div>
                    </div>

                    <div class="row">
                        <table class="table table-sm table-hover mb-3">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>File Name</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr> 
                            </thead>
                            <tbody>
                                @foreach (var req in Requirement.Requirements!)
                                {
                                    <tr>
                                        <td>@(Requirement.Requirements!.IndexOf(req) + 1)</td>
                                        <td><a href="@($"{req.FileUrl}")" target="_blank">@req.FileName</a></td>
                                        <td>@(GetStatus(req))</td>
                                        <td>
                                            @if (!IsApproved(req) && !IsDeclined(req))
                                            {
                                                <a class="btn btn-sm" @onclick="(() => ApproveRequirement(req))"><i class="oi oi-circle-check" style="color: green;"></i></a>
                                                <a class="btn btn-sm" @onclick="(() => DeclineRequirement(req))"><i class="oi oi-circle-x" style="color: red;"></i></a>
                                            }
                                            @if (IsApproved(req))
                                            {
                                                <a class="btn btn-sm" disabled><i class="oi oi-circle-check" style="color: green;"></i></a>
                                            }
                                            @if (IsDeclined(req))
                                            {
                                                <a class="btn btn-sm" disabled><i class="oi oi-circle-x" style="color: red;"></i></a>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <textarea type="submit" class="form-control" @bind="InputText" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" @onclick="SendNotification">Send</button>
                </div>
            </div>
        </div>
    </div>
}